[package]
name = "tx-verifier"
license.workspace = true
version.workspace = true
edition.workspace = true
rust-version.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chainstate-storage = {path = "../storage"}
chainstate-types = {path = "../types"}
common = {path = "../../common"}
consensus = {path = "../../consensus"}
constraints-value-accumulator = {path = "../constraints-value-accumulator"}
crypto = {path = "../../crypto"}
logging = { path = "../../logging" }
pos-accounting = {path = "../../pos-accounting"}
randomness = { path = "../../randomness" }
serialization = { path = "../../serialization" }
tokens-accounting = {path = "../../tokens-accounting"}
utils = {path = "../../utils"}
utxo = {path = "../../utxo"}

itertools.workspace = true
static_assertions.workspace = true
thiserror.workspace = true
fallible-iterator.workspace = true
replace_with.workspace = true

[dev-dependencies]
test-utils = { path = "../../test-utils" }
chainstate-storage = {path = "../storage", features = ["expensive-reads"]}

rstest.workspace = true
mockall.workspace = true
