[sources.allow-org]
github = [
    "mintlayer",#allow any code from mintlayer's github
]

[bans]
multiple-versions = "deny" #catch mutliple versions of a crate
deny = []
#skip quick-error for "reasons" that i cba to explain just about as much as i cba to fix
skip = [{name = "quick-error"},
        {name = "winapi"},
        {name = "wasi"},
        {name = "rand_hc"},
        {name = "rand_core"},
        {name = "rand_chacha"},
        {name = "rand"},
        {name = "getrandom"},
        {name = "byteorder"},
        {name = "socket2"},
        {name = "arrayvec"},
        {name = "pin-project"},
        {name = "pin-project-internal"},
        {name = "pin-project-lite"},
        {name = "digest"},
        {name = "block-buffer"},
        {name = "sha-1"},
        {name = "block-buffer"},
        {name = "digest"},
        {name = "sha2"},
        {name = "sha3"},
        {name = "blake2"},
        {name = "itoa"},
        {name = "base64"},
        {name = "crypto-mac"},
        {name = "hmac"},
        {name = "parking_lot_core" },
        {name = "parking_lot" },
        {name = "windows_aarch64_msvc" },
        {name = "windows_i686_gnu" },
        {name = "windows_i686_msvc" },
        {name = "windows_x86_64_gnu" },
        {name = "windows_x86_64_msvc" },
        ]

[licenses]
#we reject code without a license
unlicensed = "deny"
confidence-threshold = 0.92
allow = [
    "Apache-2.0",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "ISC",
    "MIT",
    "MPL-2.0",
    "CC0-1.0",
    "Zlib",
    "LicenseRef-ring",
    "LicenseRef-webpki",
    "WTFPL",
    "BSL-1.0",
    "Unlicense",#this is a specific license rather than no license at all
] #deny a license not in this set of licenses

[[licenses.clarify]]
name = "ring"
expression = "LicenseRef-ring"
license-files = [
    { path = "LICENSE", hash = 0xbd0eed23 },
]

[[licenses.clarify]]
name = "webpki"
expression = "LicenseRef-webpki"
license-files = [
    { path = "LICENSE", hash = 0x001c7e6c },
]

[advisories]
db-path = "~/.cargo/advisory-dbs"
db-urls = [ "https://github.com/RustSec/advisory-db" ]
vulnerability = "deny"
unmaintained = "warn"
unsound = "warn"
yanked = "warn"
notice = "warn"
severity-threshold = "medium"
ignore = [
    # time/chrono problems, have not been a problem in practice
    "RUSTSEC-2020-0159",
    "RUSTSEC-2020-0071",
]
