[package]
name = "wallet"
license.workspace = true
version.workspace = true
edition.workspace = true
rust-version.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chainstate = { path = "../chainstate" }
common = { path = "../common" }
consensus = { path = "../consensus" }
crypto = { path = "../crypto/" }
logging = { path = "../logging" }
mempool = { path = "../mempool" }
orders-accounting = { path = "../orders-accounting" }
pos-accounting = { path = "../pos-accounting" }
randomness = { path = "../randomness" }
rpc-description = { path = "../rpc/description" }
serialization = { path = "../serialization" }
storage = { path = "../storage" }
tx-verifier = { path = "../chainstate/tx-verifier" }
utils = { path = "../utils" }
utils-networking = { path = "../utils/networking" }
utxo = { path = "../utxo" }
wallet-storage = { path = "./storage" }
wallet-types = { path = "./types" }
trezor-client = { git = "https://github.com/mintlayer/mintlayer-trezor-firmware", branch = "mintlayer-master", features = ["bitcoin", "mintlayer"], optional = true }
rusb = { version = "0.9", package = "rusb", optional = true }

bip39 = { workspace = true, default-features = false, features = ["std", "zeroize"] }
hex.workspace = true
itertools.workspace = true
parity-scale-codec.workspace = true
serde.workspace = true
thiserror.workspace = true
zeroize.workspace = true

[dev-dependencies]
test-utils = { path = "../test-utils" }
serial_test = "3.2"

rstest.workspace = true
tempfile.workspace = true

[features]
trezor = ["dep:trezor-client", "dep:rusb", "wallet-types/trezor"]
enable-trezor-device-tests = []
default = ["trezor"]
