[package]
name = "wasm-wrappers"
license.workspace = true
version.workspace = true
edition.workspace = true
rust-version.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["cdylib"]

[dependencies]
consensus = { path = '../consensus' }
crypto = { path = '../crypto' }
serialization = { path = "../serialization" }
common = { path = "../common" }
tx-verifier = { path = "../chainstate/tx-verifier" }

bip39 = { workspace = true, default-features = false, features = ["std", "zeroize"] }

# This crate is required for rand to work with wasm. See: https://docs.rs/getrandom/latest/getrandom/#webassembly-support
getrandom = { version = "0.2", features = ["js"] }
wasm-bindgen = "0.2"
thiserror.workspace = true

[dev-dependencies]
hex.workspace = true
rstest.workspace = true
test-utils = {path = '../test-utils'}
