[package]
name = "p2p"
version = "0.1.0"
edition = "2021"
license = "MIT"

[dependencies]
async-trait = "0.1.51"
futures = "0.3.15"
futures-timer = "3.0.2"
rand = "0.8.4"
void = "1.0.2"
itertools = "0.10.3"

[dependencies.common]
path = "../common/"

[dependencies.logging]
path = "../logging/"

[dependencies.libp2p]
git = "https://github.com/mintlayer/rust-libp2p"
branch = "streaming-protocol-v0.42.2"

[dependencies.tokio]
version = "1"
features = ["full"]

[dependencies.parity-scale-codec]
default-features = false
features = ['derive']
version = '2.0.0'

[dev-dependencies.test-utils]
version = "0.1.0"
path = "test-utils"
