[package]
edition = "2021"
license = "MIT"
name = "chainstate"
version = "0.1.0"

[dependencies]
chainstate-storage = {path = './storage'}
chainstate-types = {path = './types'}
tx-verifier = {path = './tx-verifier'}
common = {path = '../common'}
crypto = {path = '../crypto'}
logging = {path = '../logging'}
rpc = {path = '../rpc'}
serialization = {path = "../serialization"}
subsystem = {path = '../subsystem'}
utxo = {path = '../utxo'}
utils = {path = '../utils'}
consensus = {path = "../consensus"}

async-trait = "0.1"
hex = "0.4"
itertools = "0.10"
jsonrpsee = {version = "0.16", features = ["macros"]}
thiserror = "1.0"

[dev-dependencies]
test-utils = { path = "../test-utils" }

mockall = "0.11"
rstest = "0.16"
serde_json = "1.0"
static_assertions = "1.1"
tokio = "1.19"
