[package]
edition = "2021"
license = "MIT"
name = "chainstate"
version = "0.1.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chainstate-storage = {path = './storage'}
chainstate-types = {path = './types'}
common = {path = '../common'}
crypto = {path = '../crypto'}
logging = {path = '../logging'}
rpc = {path = '../rpc'}
serialization = {path = "../serialization"}
subsystem = {path = '../subsystem'}
utxo = {path = '../utxo'}
utils = {path = '../utils'}
consensus = {path = "../consensus"}

async-trait = "0.1"
hex = "0.4"
itertools = "0.10"
jsonrpsee = {version = "0.15", features = ["macros"]}
replace_with = "0.1"
thiserror = "1.0"
serde = { version = "1", features = ["derive"] }
fallible-iterator = "0.2.0"
tap = "1.0"

[dev-dependencies]
mockall = "0.11"
rstest = "0.15"
serde_json = "1.0"
static_assertions = "1.1"
tokio = "1.19"
test-utils = {path = "../test-utils"}
expect-test = "1.3"
rand = "0.8.4"
