[package]
name = "api-web-server"
edition.workspace = true
rust-version.workspace = true
version.workspace = true
license.workspace = true
authors = ["Samer Afach <samer.afach@mintlayer.org>", "Ben Marsh <benjamin.marsh@mintlayer.org>", "Enrico Rubboli <enrico.rubboli@mintlayer.org>"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
api-server-common = { path = "../api-server-common" }
common = { path = "../../common/" }
crypto = { path = "../../crypto/" }
logging = { path = "../../logging" }
serialization = { path = "../../serialization" }
utils = { path = "../../utils" }
utils-networking = { path = "../../utils/networking" }
rpc = { path = "../../rpc" }
node-comm = { path = "../../wallet/wallet-node-client" }
node-lib = { path = "../../node-lib" }
mempool = { path = "../../mempool" }

axum.workspace = true
async-trait.workspace = true
clap = { workspace = true, features = ["derive"] }
hex.workspace = true
hyper.workspace = true
serde = { workspace = true, features = ["derive"] }
serde_json.workspace = true
thiserror.workspace = true
tokio = { workspace = true }
tower-http = { workspace = true, features = ["cors"] }
