[package]
name = "web-server"
edition.workspace = true
rust-version.workspace = true
version.workspace = true
license.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
api-server-common = { path = "../api-server-common" }
common = { path = "../../common/" }
crypto = { path = "../../crypto/" }
logging = { path = "../../logging" }

axum = "0.6"
clap = { workspace = true, features = ["derive"] }
serde = { workspace = true, features = ["derive"] }
serde_json.workspace = true
thiserror.workspace = true
tokio = { workspace = true, features = ["full"] }