[package]
name = "mempool"
version = "0.1.0"
edition.workspace = true
rust-version.workspace = true
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serialization = { path = '../serialization' }
subsystem = { path = '../subsystem' }
chainstate = { path = '../chainstate' }
common = { path = '../common' }
utils = { path = '../utils' }
logging = { path = '../logging' }
rpc = { path = '../rpc' }

anyhow = "1.0"
async-trait.workspace = true
jsonrpsee = { workspace = true, features = ["macros"] }
thiserror.workspace = true
mockall = "0.11.0"
parking_lot = "0.12"
tokio = { workspace = true, default-features = false, features = ["io-util", "macros", "net", "rt", "rt-multi-thread", "sync", "time"] }

[dev-dependencies]
chainstate-storage = { path = '../chainstate/storage' }
chainstate-test-framework = { path = '../chainstate/test-framework' }
crypto = { path = '../crypto' }
test-utils = {path = '../test-utils'}

rstest = "0.16"
