[package]
name = "mempool"
version = "0.1.0"
edition = "2021"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
parity-scale-codec = {version = "2.3.1", features = ["derive", "chain-error"]}
serialization = { path = '../serialization' }
common = { path = '../common' }
utils = { path = '../utils' }
anyhow = "1.0"
thiserror = "1.0"
lazy_static = "1.4"
mockall = "0.11.0"
