[package]
name = "chainstate-test-framework"
license.workspace = true
version.workspace = true
edition.workspace = true
rust-version.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chainstate = { path = ".." }
chainstate-storage = { path = "../storage", features = ["expensive-reads"]}
chainstate-types = { path = "../types" }
common = { path = "../../common" }
consensus = { path = "../../consensus" }
constraints-value-accumulator = { path = "../constraints-value-accumulator" }
crypto = { path = "../../crypto" }
logging = { path = "../../logging" }
orders-accounting = { path = "../../orders-accounting" }
pos-accounting = { path = "../../pos-accounting" }
randomness = { path = "../../randomness" }
serialization = { path = "../../serialization" }
storage-failing = { path = "../../storage/failing" }
storage-inmemory = { path = "../../storage/inmemory" }
test-utils = { path = "../../test-utils" }
tokens-accounting = { path = "../../tokens-accounting" }
tx-verifier = { path = "../tx-verifier" }
utils = { path = "../../utils" }
utxo = { path = "../../utxo" }

itertools.workspace = true
rstest.workspace = true
strum.workspace = true

[dev-dependencies]
consensus = { path = "../../consensus" }
logging = { path = "../../logging" }

hex.workspace = true
