[package]
name = "chainstate-test-framework"
license.workspace = true
version.workspace = true
edition.workspace = true
rust-version.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chainstate = { path = '..' }
chainstate-storage = { path = '../storage' }
chainstate-types = { path = '../types' }
common = { path = '../../common' }
crypto = { path = '../../crypto' }
pos_accounting = {path = '../../pos_accounting'}
test-utils = {path = '../../test-utils' }
tx-verifier = { path = '../tx-verifier' }
utils = { path = '../../utils' }
utxo = {path = '../../utxo'}

rstest = "0.16"
itertools.workspace = true

[dev-dependencies]
consensus = { path = '../../consensus' }
logging = { path = '../../logging' }

hex.workspace = true
