[package]
name = "common"
version = "0.1.0"
edition = "2021"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
fixed-hash = { version = "0.7.0", default-features = true, features = ["std"] }
bech32 = "0.8.1"
thiserror = "1.0.30"
displaydoc = { default-features = false, version = "0.2" }
script = { path = '../script'}
crypto = { path = '../crypto'}
hex-literal = "0.3.4"
merkletree = "0.21.0"
static_assertions = "1.1.0"
generic-array = "0.14.4"
rand = "0.8.4"
anyhow = "1.0.51"
parity-scale-codec-derive = "2.3.1"
parity-scale-codec = {version = "2.3.1", features = ["derive", "chain-error"]}
sscanf = "0.1.4"
