[package]
name = "common"
version = "0.1.0"
edition = "2021"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
fixed-hash = { version = "0.7.0", default-features = true, features = ["std"] }
bech32 = "0.8.1"
thiserror = "1.0.30"
displaydoc = { default-features = false, version = "0.2" }
script = { path = '../script'}
crypto = { path = '../crypto'}
hex-literal = "0.3.4"
merkletree = "0.21.0"
static_assertions = "1.1.0"
generic-array = "0.14.4"
rand = "0.8.4"
anyhow = "1.0.51"
parity-scale-codec = {version = "2.3.1", features = ["derive", "chain-error"]}
parity-scale-codec-derive = "2.3.1"
sscanf = "0.1.4"
lazy_static = "1.4.0"
paste = "1.0.6"

[dev-dependencies]
bitcoin-bech32 = "0.12.1"
hex = "0.4.3"
expect-test = "1.2.2"

[target.'cfg(loom)'.dependencies]
loom = "0.5"
