[package]
name = "api-server-common"
edition.workspace = true
rust-version.workspace = true
version.workspace = true
license.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
common = { path = '../../common' }
crypto = { path = '../../crypto/' }
logging = {path = '../../logging'}
serialization = { path = "../../serialization" }

parity-scale-codec.workspace = true
thiserror.workspace = true
tokio = { workspace = true, features = ["full"] }
sqlx = { workspace = true, features = [ "runtime-tokio", "macros", "sqlite", "postgres" ] }

[dev-dependencies]
chainstate-test-framework = { path = '../../chainstate/test-framework' }
test-utils = {path = '../../test-utils'}

rstest.workspace = true
