[package]
name = "api-blockchain-scanner-daemon"
edition.workspace = true
rust-version.workspace = true
version.workspace = true
license.workspace = true
authors = ["Samer Afach <samer.afach@mintlayer.org>", "Ben Marsh <benjamin.marsh@mintlayer.org>", "Enrico Rubboli <enrico.rubboli@mintlayer.org>"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
api-server-common = { path = "../api-server-common" }
api-blockchain-scanner-lib = { path = "../scanner-lib" }
common = { path = "../../common" }
logging = { path = "../../logging" }
node-comm = { path = "../../wallet/wallet-node-client" }
node-lib = { path = "../../node-lib" }
rpc = { path = "../../rpc" }
utils = { path = "../../utils" }

clap = { workspace = true, features = ["derive", "env"] }
thiserror.workspace = true
tokio = { workspace = true, features = ["full"] }
