[package]
name = "wallet-cli-commands"
license.workspace = true
edition.workspace = true
version.workspace = true
rust-version.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chainstate = { path = "../../chainstate" }
common = { path = "../../common" }
consensus = { path = "../../consensus" }
crypto = { path = "../../crypto" }
logging = { path = "../../logging" }
mempool = { path = "../../mempool" }
node-comm = { path = "../wallet-node-client" }
p2p-types = { path = "../../p2p/types" }
randomness = { path = "../../randomness" }
rpc = { path = "../../rpc" }
serialization = { path = "../../serialization" }
utils = { path = "../../utils" }
utils-networking = { path = "../../utils/networking" }
wallet = { path = ".." }
wallet-controller = { path = "../wallet-controller" }
wallet-rpc-lib = { path = "../wallet-rpc-lib" }
wallet-rpc-client = { path = "../wallet-rpc-client" }
wallet-storage = { path = "../storage" }
wallet-types = { path = "../types" }

async-trait.workspace = true
bigdecimal.workspace = true
clap = { workspace = true, features = ["derive"] }
crossterm.workspace = true
derive_more.workspace = true
directories.workspace = true
dyn-clone.workspace = true
futures.workspace = true
humantime.workspace = true
hex.workspace = true
itertools.workspace = true
lazy_static.workspace = true
prettytable-rs = "0.10"
reedline = { workspace = true, features = ["external_printer"] }
regex.workspace = true
serde = { workspace = true, features = ["derive"] }
serde_json.workspace = true
shlex.workspace = true
thiserror.workspace = true
tokio = { workspace = true, default-features = false, features = ["io-util", "macros", "net", "rt", "sync"] }

[dev-dependencies]
blockprod = { path = "../../blockprod" }
chainstate-storage = { path = "../../chainstate/storage" }
crypto = { path = "../../crypto" }
mempool = { path = "../../mempool" }
node-lib = { path = "../../node-lib" }
p2p = { path = "../../p2p" }
subsystem = { path = "../../subsystem" }
test-utils = { path = "../../test-utils" }
wallet-test-node = { path = "../wallet-test-node" }

ctor.workspace = true
jsonrpsee.workspace = true
rstest.workspace = true

[features]
trezor = ["wallet-types/trezor", "wallet-rpc-lib/trezor"]
default = ["trezor"]
