[package]
name = "crypto"
version = "0.1.0"
edition = "2021"
license = "MIT"
authors = ["Samer Afach <samer.afach@mintlayer.org>", "Ben Marsh <benjamin.marsh@mintlayer.org>", "Enrico Rubboli <enrico.rubboli@mintlayer.org>"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
sha-1 = "0.10.0"
sha2 = "0.10.1"
sha3 = "0.10.0"
ripemd = "0.1.0"
blake2 = "0.10.2"
generic-array = "0.14.5"
hex = "0.4.3"
rand = "0.8.4"
tari_crypto = "0.11.2"
parity-scale-codec = "2.3.1"
serialization = { path = "../serialization" }
num = "0.4"
num-derive = "0.3.3"
num-traits = "0.2.14"
