name: build

on:
  push:
    branches:
      - "**" # target all branches
  pull_request:
    branches:
      - master
  schedule:
    - cron: '15 0 * * *'  # every day at 00:15 UTC

env:
  CARGO_TERM_COLOR: always
  RUST_LOG: debug
  RUST_BACKTRACE: full

jobs:
  build_windows:
    runs-on: windows-latest
    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Install python toml package
        run: python3 -m pip install toml
      - name: Install rust
        run: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --default-toolchain $(python3 ./build-tools/rust-version-extractor/rust-version-extractor.py)
      - name: Build
        run: cargo build --release --locked --features trezor
      - name: Run tests
        run: cargo test --release --workspace --features trezor
      - name: Run doc tests
        run: cargo test --release --doc --features trezor
      # This test is ignored, so it needs to run separately.
      - name: Run mixed_sighash_types test
        run: cargo test --release mixed_sighash_types --features trezor
      # This test is ignored, so it needs to run separately.
      - name: Run test_4opc_sequences test
        run: cargo test --release test_4opc_sequences -- --ignored
      - name: Run functional tests
        run: cargo test --release -p mintlayer-test --test functional -- --ignored
      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: windows-functional-test-artifacts
          path: target/tmp

  build_ubuntu:
    env:
      ML_CONTAINERIZED_TESTS: 1
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Update local dependency repositories
        run: sudo apt-get update
      - name: Install dependencies
        run: sudo apt-get install -yqq --no-install-recommends build-essential python3 python3-toml podman build-essential pkg-config libssl-dev
      - name: Install rust deps
        run: sudo apt-get install -yqq build-essential pkg-config libssl-dev
      - name: Install rust
        run: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --default-toolchain $(python3 ./build-tools/rust-version-extractor/rust-version-extractor.py)
      - name: Build
        run: cargo build --release --locked --features trezor
      - name: Run tests
        run: cargo test --release --workspace --features trezor
      - name: Run doc tests
        run: cargo test --release --doc --features trezor
      # This test is ignored, so it needs to run separately.
      - name: Run mixed_sighash_types test
        run: cargo test --release mixed_sighash_types --features trezor
      # This test is ignored, so it needs to run separately.
      - name: Run test_4opc_sequences test
        run: cargo test --release test_4opc_sequences
      - name: Run functional tests
        run: cargo test --release -p mintlayer-test --test functional -- --ignored
      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: ubuntu-functional-test-artifacts
          path: target/tmp

  build_macos:
    runs-on: macos-latest
    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Install python toml package
        run: python3 -m pip install toml --break-system-packages --user
      - name: Install rust
        run: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --default-toolchain $(python3 ./build-tools/rust-version-extractor/rust-version-extractor.py)
      - name: Build
        run: cargo build --release --locked --features trezor
      - name: Run tests
        run: cargo test --release --workspace --features trezor
      - name: Run doc tests
        run: cargo test --release --doc --features trezor
      # This test is ignored, so it needs to run separately.
      - name: Run mixed_sighash_types test
        run: cargo test --release mixed_sighash_types --features trezor
      # This test is ignored, so it needs to run separately.
      - name: Run test_4opc_sequences test
        run: cargo test --release test_4opc_sequences
      - name: Run functional tests
        run: cargo test --release -p mintlayer-test --test functional -- --ignored
      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: macos-functional-test-artifacts
          path: target/tmp
