name: build

on:
  push:
    branches:
      - '**' # target all branches
  pull_request:
    branches:
      - master

env:
  CARGO_TERM_COLOR: always
  RUST_LOG: debug

jobs:

  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install rust stable
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          components: rustfmt
          default: true
      - name: Checkout repository and submodules
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Run rustfmt
        run: cargo fmt --all -- --check

  build_windows:
    runs-on: windows-latest
    # if: github.ref == 'refs/heads/master'
    steps:
    - uses: actions/checkout@v2
    - name: Install rust stable
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        default: true
    - name: Checkout repository and submodules
      uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Build
      run: cargo build --release
    - name: Run tests
      run: cargo test --release --workspace
    # This test is ignored, so it needs to run separately.
    - name: Run mixed_sighash_types test
      run: cargo test --release -p common mixed_sighash_types -- --ignored
    - name: Run functional tests
      run: cargo test --release -p mintlayer-test --test functional -- --ignored
    - uses: actions/upload-artifact@v2
      if: failure()
      with:
        name: windows-functional-test-artifacts
        path: target/tmp

  build_ubuntu:
    runs-on: ubuntu-latest
    # if: github.ref == 'refs/heads/master'
    steps:
    - uses: actions/checkout@v2
    - name: Install rust stable
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        default: true
    - name: Checkout repository and submodules
      uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Build
      run: cargo build --release
    - name: Run tests
      run: cargo test --release --workspace
    # This test is ignored, so it needs to run separately.
    - name: Run mixed_sighash_types test
      run: cargo test --release mixed_sighash_types
    - name: Run functional tests
      run: cargo test --release -p mintlayer-test --test functional -- --ignored
    - uses: actions/upload-artifact@v2
      if: failure()
      with:
        name: ubuntu-functional-test-artifacts
        path: target/tmp

  build_macos:
    runs-on: macos-latest
    # if: github.ref == 'refs/heads/master'
    steps:
    - uses: actions/checkout@v2
    - name: Install rust stable
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        default: true
    - name: Checkout repository and submodules
      uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Build
      run: cargo build --release
    - name: Run tests
      run: cargo test --release --workspace
    # This test is ignored, so it needs to run separately.
    - name: Run mixed_sighash_types test
      run: cargo test --release mixed_sighash_types
    - name: Run functional tests
      run: cargo test --release -p mintlayer-test --test functional -- --ignored
    - uses: actions/upload-artifact@v2
      if: failure()
      with:
        name: macos-functional-test-artifacts
        path: target/tmp

