on:
  push:
    branches:
      - "**" # target all branches
  pull_request:
    branches:
      - master

name: Static code checks
jobs:
  static_checks:
    runs-on: ubuntu-latest
    steps:
      - name: Update local dependency repositories
        run: sudo apt-get update
      - name: Install dependencies
        run: sudo apt-get install -yqq --no-install-recommends build-essential libgtk-3-dev python3 python3-toml
      - uses: actions/checkout@v1

      - name: Install rust
        run: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --default-toolchain $(python3 ./build-tools/rust-version-extractor/rust-version-extractor.py)
      - name: Install rust clippy
        run: rustup component add clippy
      - name: Install cargo-deny
        run: cargo install cargo-deny
      - name: Run checks
        run: ./do_checks.sh
