on:
  push:
    branches:
      - '**' # target all branches
  pull_request:
    branches:
      - master

name: Static code checks
jobs:
  clippy_check_ubuntu:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - id: skip-check
        uses: fkirc/skip-duplicate-actions@v5.3.0
        with:
          concurrent_skipping: "same_content_newer"
          skip_after_successful_duplicate: "true"
      - uses: actions/checkout@v1
      - run: rustup component add clippy

      # Checks enabled everywhere, including tests, benchmarks
      - uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: >
            --all-features --workspace --all-targets --
            -D warnings
            -A clippy::new_without_default
            -W clippy::implicit_saturating_sub
            -W clippy::implicit_clone
            -W clippy::map_unwrap_or
            -W clippy::unnested_or_patterns
            -W clippy::manual_assert
            -W clippy::unused_async
            -W clippy::mut_mut

      # Checks that only apply to production code
      - uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: >
            --all-features --workspace --lib --bins --examples --
            -A clippy::all
            -D clippy::float_arithmetic
            -W clippy::unwrap_used
            -W clippy::dbg_macro
            -W clippy::items_after_statements
            -W clippy::fallible_impl_from
            -W clippy::string_slice

  codegrep:
    name: Grep code for issues
    runs-on: ubuntu-latest
    steps:
      - id: skip-check
        uses: fkirc/skip-duplicate-actions@v5.3.0
        with:
          concurrent_skipping: "same_content_newer"
          skip_after_successful_duplicate: "true"
      - uses: actions/checkout@v1
      - run: pip install -r ./.github/scripts/requirements.txt
      - run: ./.github/scripts/codecheck.py

  cargo_deny_checks:
    name: Cargo deny check licenses and advisories
    runs-on: ubuntu-latest
    strategy:
      matrix:
        checks:
          - advisories
          - licenses

    # Prevent sudden announcement of a new advisory from failing ci:
    continue-on-error: ${{ matrix.checks == 'advisories' }}

    steps:
      - id: skip-check
        uses: fkirc/skip-duplicate-actions@v5.3.0
        with:
          concurrent_skipping: "same_content_newer"
          skip_after_successful_duplicate: "true"
      - uses: actions/checkout@v3
      - uses: EmbarkStudios/cargo-deny-action@v1
        with:
          command: check ${{ matrix.checks }}

