on:
  push:
    branches:
      - "**" # target all branches
  pull_request:
    branches:
      - master

name: Code Coverage

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - id: skip-check
        uses: fkirc/skip-duplicate-actions@v5.3.0
        with:
          concurrent_skipping: "same_content_newer"
          skip_after_successful_duplicate: "true"
      - name: Install dependencies
        run: sudo apt-get install -yqq --no-install-recommends build-essential libgtk-3-dev python3 python3-toml
      - uses: actions/checkout@v1
      - uses: actions-rs/toolchain@v1
        with:
          # TODO: Inspect coverage, and change toolchain to stable
          toolchain: nightly-2023-09-10
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: clean
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all-features --no-fail-fast
        env:
          RUST_LOG: debug
          RUST_BACKTRACE: full
          CARGO_INCREMENTAL: 0
          RUSTFLAGS: "-Zprofile -Ccodegen-units=1 -Cinline-threshold=0 -Clink-dead-code -Coverflow-checks=off -Cpanic=abort -Zpanic_abort_tests"
          RUSTDOCFLAGS: "-Zprofile -Ccodegen-units=1 -Cinline-threshold=0 -Clink-dead-code -Coverflow-checks=off -Cpanic=abort -Zpanic_abort_tests"
      - id: coverage
        uses: actions-rs/grcov@v0.1
      - uses: actions/upload-artifact@v2
        with:
          name: code-coverage-report
          path: ${{ steps.coverage.outputs.report }}
