name: Permutation testing

on:
  push:
    branches:
      - '**' # target all branches
  pull_request:
    branches:
      - master

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: --cfg=loom

jobs:

  test_loom:
    runs-on: ubuntu-latest
    steps:
    - id: skip-check
      uses: fkirc/skip-duplicate-actions@v5.3.0
      with:
        concurrent_skipping: "same_content_newer"
        skip_after_successful_duplicate: "true"
    - uses: actions/checkout@v2
    - name: Install rust stable
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        default: true
    - name: Checkout repository and submodules
      uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Run permutation tests
      run: cargo test --tests --release -p storage -p chainstate-storage -p storage-lmdb -p storage-inmemory
