[package]
name = "wallet-cli-lib"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
common = { path = "../../common" }
consensus = { path = "../../consensus" }
crypto = { path = "../../crypto" }
logging = { path = "../../logging" }
node-comm = { path = "../wallet-node-client" }
rpc = { path = "../../rpc" }
serialization = { path = "../../serialization" }
utils = { path = "../../utils" }
wallet = { path = ".." }
wallet-controller = { path = "../wallet-controller" }
wallet-storage = { path = "../storage" }

clap = { workspace = true, features = ["derive"] }
crossterm.workspace = true
directories.workspace = true
hex.workspace = true
reedline = { workspace = true, features = ["external_printer"] }
shlex.workspace = true
thiserror.workspace = true
tokio = { workspace = true, default-features = false, features = ["io-util", "macros", "net", "rt", "sync"] }

[dev-dependencies]
blockprod = { path = "../../blockprod" }
chainstate = { path = "../../chainstate" }
chainstate-storage = { path = "../../chainstate/storage" }
crypto = { path = "../../crypto" }
mempool = { path = "../../mempool" }
node-lib = { path = "../../node-lib" }
p2p = { path = "../../p2p" }
subsystem = { path = "../../subsystem" }
test-utils = { path = "../../test-utils" }

rstest.workspace = true
